<script>
    //시 클릭했을 때
    $(".loc_btn").on("click", function () {
      var select = $(this).hasClass("select_location");
      //선택이 안되어있을때
      if (select == false) {
          //선택이 되어있는 요소 탐색
          var loc = $("#si").find("button").removeClass("select_loaction");
          //console.log(loc);
          $(this).addClass("select_loaction");
          //시 선택하면 gu 보이게
          $("#gu>div").removeClass("hide_content");
          $("#gu>div").addClass("show_content");
      }

  });
  //구 클릭했을 때
  $("#gu button").on("click", function () {
      var select = $(this).hasClass("select_location");
      //선택이 안되어있을때
      if (select == false) {
          //선택이 되어있는 요소 탐색
          var loc = $("#gu").find("button").removeClass("select_loaction");
          //console.log(loc);
          $(this).addClass("select_loaction");
          //구 선택하면 동 보이게
          $("#dong>div").removeClass("hide_content");
          $("#dong>div").addClass("show_content");
      }

  });

  //동 클릭했을때
  $("#dong button").on("click", function () {
      var select = $(this).hasClass("select_location");
      //선택이 안되어있을때
      if (select == false) {
          //선택이 되어있는 요소 탐색
          var loc = $("#dong").find("button").removeClass("select_loaction");
          //console.log(loc);
          $(this).addClass("select_loaction");

          $.ajax({
              type: 'GET',                 //get방식으로 통신
              url: "location_result.html",    //탭의 data-tab속성의 값으로 된 html파일로 통신
              dataType: "html",            //html형식으로 값 읽기
              error: function () {          //통신 실패시 ㅠㅠ
                  alert('통신실패!');
              },
              success: function (data) {    //통신 성공시 탭 내용을 담는 div를 읽어들인 값으로 채우기
                  $('.select_box').html(data);
                  var now = $(".next_btn").prop('disabled');
                  //가져온 값 역으로 변경하여 다시 적용
                  $(".next_btn").prop('disabled', !now);
              }
          });
</script>
