<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 데이터 대량 주입용 Mapper 0204 hari -->
<mapper namespace="MemberInsertMapper">


	<!-- 데이터 저장을 위한 기능 정의 -->

	<!-- 멤버(공통) -->
	<insert id="insertMember"
		parameterType="study.team.abuhae.model.Member" useGeneratedKeys="true"
		keyProperty="memberno">
		INSERT INTO member (id, type, password, name, email,
		phone, 
		birthdate, gender, job_opening, signup_date, subscribe)
		VALUES (#{id},
		#{type}, md5(#{password}),
		#{name},
		#{email}, #{phone},
		#{birthdate},
		#{gender},
		#{job_opening}, #{signup_date}, #{subscribe});
	</insert>


	<!-- 맘 회원 -->
	<insert id="insertMom"
		parameterType="study.team.abuhae.model.Mom_info"
		useGeneratedKeys="true" keyProperty="momno">
		INSERT INTO mom_info (want_act1, want_act2, want_act3,
		want_age, kids_num, kids_age, kids_age2, kids_nai, kids_nai2,
		payment, payment_ok, si, gu, dong,
		schedule,
		schedule_ok, sitter_gender,
		interview_type, care_type,
		openingdate, memberno) VALUES (#{want_act1},#{want_act2},#{want_act3}, #{want_age},
		#{kids_num}, #{kids_age}, #{kids_age2}, #{kids_nai}, #{kids_nai2}, 
		#{payment}, #{payment_ok}, #{si}, #{gu}, #{dong},
		#{schedule},
		#{schedule_ok},
		#{sitter_gender},#{interview_type},#{care_type},#{openingdate},
		#{memberno});
	</insert>

	<!-- 시터 회원 -->
	<insert id="insertSitter"
		parameterType="study.team.abuhae.model.Sitter_info"
		useGeneratedKeys="true" keyProperty="sitterno">
		INSERT INTO sitter_info
		(sitter_type,
		want_act1, want_act2, want_act3, want_age, payment, si, gu, dong,
		schedule, introduce, cctv, openingdate, memberno)
		VALUES
		(#{sitter_type}, #{want_act1}, #{want_act2}, #{want_act3},
		#{want_age}, #{payment},
		#{si}, #{gu},
		#{dong}, #{schedule}, #{introduce},
		#{cctv}, #{openingdate}, #{memberno});
	</insert>


	<!-- 인증 파일 업로드 -->
	<insert id="addCertify"
		parameterType="study.team.abuhae.model.ResiCert"
		useGeneratedKeys="true" keyProperty="resino">
		insert into resi_cert (cert, sitterno) 
		values(#{cert}, #{sitterno});
	</insert>
	
	   <!--mom 회원 리뷰남기기 -->
   <insert id="addReview" parameterType="study.team.abuhae.model.Review" useGeneratedKeys="true" keyProperty="revno">
      insert into review (who, rev_rate, reg_date, contents, sitterno, momno, cntno)
      values('M', #{rev_rate}, now(), #{contents}, #{sitterno}, #{momno}, #{cntno}) 
   </insert>
   
   <!-- 인터뷰 응답률 -->
   	<insert id="applyInterview"
		parameterType="study.team.abuhae.model.Connect"
		useGeneratedKeys="true" keyProperty="cntno">
		insert into connect (applydate,
		who, sitterno, accept, momno) values (now(), #{who}, #{sitterno}, #{accept}, #{momno})
	</insert>

</mapper>