@charset "UTF-8";

/* 초기 설정 -----------------------------------------------------*/
body,
html {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

#app > .container {
  padding: 0;
}

/* header --------------------------------------------------------- */

.header {
  min-height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.header a {
  color: #212121;
}

.header_wrap {
  height: 60px;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.header .flex_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .main_menu {
  width: 112px;
  margin-left: 12px;
}

.header .logo {
  width: 117px;
  height: auto;
  padding-bottom: 2px;
  margin-left: 12px;
}

.header .join {
  outline: none;
  border: none;
  margin-right: 5px;
  width: 75px;
  height: 35px;
  border-radius: 18px;
  background: rgb(255, 121, 40);
  color: rgb(255, 255, 255);
  font-size: 0.9em;
  font-weight: bold;
  display: none;
}

.header .header_search_btn {
  width: 20px;
  height: 22px;
  margin-left: 18px;
  margin-right: 10px;
  display: none;
}

.header p {
  margin: 0;
}

.header .fa-bars {
  font-size: 1.5em;
}
/**
#header_join {
	display: none;
}
#header_search {
	display: none;
}
.flex_row {
	display: none;
}
*/
/* header end ---------------------------------------------------------*/

/* modal -------------------------------------------------------------------------------------*/

#menu_modal {
  padding: 0;
}

#menu_modal p {
  padding: 0;
  margin: 0;
}

#menu_modal .modal_body a,
#menu_modal .modal_footer a {
  display: flex;
}

#menu_modal .col-xs-9 {
  padding: 0;
  margin: 0;
}

#menu_modal .modal_group {
  padding: 40px 28px 28px;
}

#menu_modal .modal_content {
  background-color: #fff;
  height: 100%;
  margin: 0;
  box-shadow: 10px 0px 50px rgba(0, 0, 0, 0.3);
}

/* modal header ---------------------------------------------------------*/

#menu_modal button {
  padding: 1px 6px;
}

#menu_modal button p {
  line-height: 1.375;
  color: rgb(102, 102, 102);
  letter-spacing: -0.2px;
  font-weight: bold;
  font-size: 0.85em;
}

#menu_modal .modal_btn {
  background-color: #fff;
  border: 0;
}

#menu_modal .join_btn {
  margin-left: 10px;
}

/* modal header end ---------------------------------------------------------*/

/* modal body ---------------------------------------------------------*/

#menu_modal .modal_body {
  margin-top: 30px;
}

#menu_modal .modal_body p {
  font-size: 1.15em;
  font-weight: 1000;
  color: rgb(68, 68, 68);
  margin-top: 7px;
}

#menu_modal img {
  margin-right: 16px;
  width: 40px;
  height: 40px;
}

#menu_modal .sitter_search,
.job_search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#menu_modal .job_search {
  margin-top: 16px;
}

#menu_modal .divider {
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background: rgb(221, 221, 221);
}

/* modal body end ---------------------------------------------------------*/

/* footer ---------------------------------------------------------**/

#menu_modal .modal_footer p {
  margin: 0px;
  padding: 0px;
  width: 100%;
  color: rgb(68, 68, 68);
  letter-spacing: -0.2px;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 22px;
}
#menu_modal .modal_footer a {
  margin-top: 32px;
}
#menu_modal .modal_footer a:first-child {
  margin-top: 0;
}

/* footer end ---------------------------------------------------------**/

/* modal end -------------------------------------------------------------------------------------*/

.container {
    padding: 0;
}
.col-xs-12 {
    margin: 0 auto;
    padding: 0;
}
.section_main {
    width: 100%;
    height: 300px;
    background-color: beige;
    margin-bottom: 40px;
    background-image: url(//theme.zdassets.com/theme_assets/10159853/41680488b7e3f636317186e889d5e6e681ef5a53.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 0 20px;
    text-align: center;
    width: 100%
}
.section_input {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.block_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}
.block_item {
    border: 1px solid #ff7000;
    border-radius: 40px;
    display: flex;
    flex: 1 0 240px;
    margin: 0 0 30px;
    max-width: 100%;
    text-align: center;
}
.block_item_link {
    color: #ff7000;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border-radius: inherit;
}
.block_item_link:hover {
    background-color: #ff7000;
    color: #FFFFFF;
    text-decoration: none;
}
.block_item:hover {
    color: #ffffff;
}
.block_item_title {
    font-size: 2em;
    font-weight: bold;
}

.activity {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.activity_header {
    text-align: center;
}


.footer {
    height: 8em;
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;
}
a {
    color: rgba(136, 136, 135, 1);
    text-decoration: none;
}
#query {
    border: 1px solid #ddd;
    border-radius: 30px;
    box-sizing: border-box;
    color: #666;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 100%;
}
#glyphicon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 15px;
    z-index: 1;
    width: 18px;
    height: 11px;
    color: #777;
}
.activity_wrap {
    width: 100%;
    padding: 0 20px;
}

.cus_search {
	width: 80%;
	height: 37px;
	border: 0;
	border-radius: 4px;
}

.cus_btn {
	color: #ffffff;
	background-color: #858585;
	width: 37px;
	height: 37px;	
	border: 0;
	border-radius: 4px;
	font-size: 1.1em;
}