/* 초기 설정 -----------------------------------------------------*/
.body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

/** 마이페이지 공통 --------------------------------------------*/

.wrap_mps {
  padding: 20px 20px;
  font-size: 1em;
  font-weight: 900;
  max-width: 700px;
  margin: 0 auto;
}

/* 첫번째 항목 */
.wrap_mps .group1_mps {
  font-weight: bold;
}

.wrap_mps .group1_mps .mps_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
}

.wrap_mps .group1_mps .mps_title h3 {
  font-size: 1.5em;
}

.wrap_mps .group1_mps .mps_title .mps_title_cont a {
  font-size: 0.8em;
  color: #696969;
}

/* 두번째 항목 --------------------------------------------------*/

.wrap_mps .group2_mps .mps_profile {
  background-color: #e6f1ee;
  padding: 20px 20px 15px;
}

.wrap_mps .group2_mps .mps_prof_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrap_mps .group2_mps .info_sitter {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1em;
  font-weight: bold;
}

.wrap_mps .group2_mps .info_sitter:last-child {
  margin-top: 14px;
  margin-left: 5px;
  font-size: 0.8em;
  font-weight: normal;
}

.wrap_mps .group2_mps .buy_title_left h4 {
  font-size: 1em;
  font-weight: bold;
}

.wrap_mps .group2_mps .mps_profile .buy_product {
  background-color: #fff;
  border-radius: 5px;
}

.wrap_mps .group2_mps .mps_profile .buy_product .product_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 10px;
  box-shadow: 3px 4px 4px rgb(231, 231, 231);
}

.wrap_mps .group2_mps .mps_profile .buy_product p {
  margin-top: 5px;
  font-size: 0.7em;
  color: #888888;
}

.wrap_mps .group2_mps .mps_profile a button {
  min-width: 69px;
  min-height: 30px;
  background-color: rgb(34, 172, 135);
  box-shadow: 1px 3px 3px rgb(141, 206, 189);
  border: 0;
  border-radius: 17px;
  font-size: 0.857em;
  font-weight: bold;
  color: #fff;
}

.buy_title {
	display: felx;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.buy_title_left {
	display: flex;
	flex-direction: row;	
}

.buy_title_right {
	display: felx;
	position: absolute;
    right: 0;
    bottom: 5px;
}

.buy_tl_switch {
	display: flex;
	flex-direction: row;
	margin-bottom: 4px;
	margin-left: 9px;
}

.switch_p {
	color: eee;
}

/** 토글 버튼 */
#check {
	display: none;
}

label {
	display: inline-block;
	width: 45px;
	height: 20px;
	cursor: pointer;
	position: relative;
	background-color: #ccc;
	border-radius: 30px;
}

label::before {
	content: '';
	display: block;
	width: 17px;
	height: 17px;
	left: 4px;
	bottom: 2px;
	position: absolute;
	background-color: #fff;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked + label {
	background-color: rgb(34, 172, 135);
}

input:checked + label:before {
 	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* 세번째 항목 --------------------------------------------------*/

/** 공통 */
.wrap_mps .group3_mps {
  padding: 10px 10px;
}

.wrap_mps .group3_mps .mps_menu a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.wrap_mps .group3_mps .mps_menu a:hover {
  background-color: #eee;
}
/** end 공통 */

/** 내용 3개일 경우 */
.wrap_mps .group3_mps .mps_menu .mps_menu3_list1 {
  width: 7%;
  font-size: 1.7em;
  color: rgb(34, 172, 135);
  text-align: left;
}

.wrap_mps .group3_mps .mps_menu .mps_menu3_list2 {
  width: 88%;
  margin: 8px 10px 10px 10px;
  font-size: 1.071em;
  color: #000;
}

.wrap_mps .group3_mps .mps_menu .mps_menu3_list3 {
  width: 5%;
  text-align: right;
  font-size: 1.2em;
  color: #838383;
}

/** 내용 4개일 경우 */
.wrap_mps .group3_mps .mps_menu .mps_menu_list1 {
  width: 7%;
  font-size: 1.7em;
  color: rgb(34, 172, 135);
  text-align: left;
}

.wrap_mps .group3_mps .mps_menu .mps_menu_list2 {
  width: 68%;
  margin: 8px 10px 10px 10px;
  font-size: 1.071em;
  color: #000;
}

.wrap_mps .group3_mps .mps_menu .mps_menu_list3 {
  width: 20%;
  text-align: right;
  color: rgb(48, 132, 132);
  margin-top: 7px;
}

.wrap_mps .group3_mps .mps_menu .mps_menu_list4 {
  width: 5%;
  text-align: right;
  font-size: 1.2em;
  color: #838383;
}

/** for line */
.wrap_mps .line_bold {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 15px;
  background-color: rgb(243, 241, 241);
}

/* 네번째 항목 --------------------------------------------------*/
.wrap_mps .group4_mps .mps_bottom {
  background-color: rgb(243, 241, 241);
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.wrap_mps .group4_mps .mps_bottom .bottom_con_in {
  font-size: 1em;
  color: #000;
  margin-top: 10px;
}

.wrap_mps .group4_mps .mps_bottom .bottom_con_in.bt_cash {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrap_mps .group4_mps .mps_bottom .bt_cash_p {
  width: 8%;
  color: rgb(48, 132, 132);
  text-align: center;
}

.wrap_mps .group4_mps .mps_bottom .bottom_con_in:first-child {
  margin: 0;
}

.wrap_mps .group4_mps .mps_bottom .bottom_con_in .bt_cash_p {
  margin-right: 17px;
}
